.input-wrapper{
    position: relative;
}

.input-wrapper + .input-wrapper {
    margin-top: 1.4rem;
}

.input-wrapper label {
    font-size: 1.4rem;
}

.input-wrapper input {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background-color: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

.input-wrapper:focus-within::after {
    width: calc(100% - 3.2rem);
    height: 2px;
    content: '';
    background-color: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}

.input-wrapper label span{
    font-size: 1.2rem;
    color: var(--color-text-complement);
    margin-left: 0.4rem;
}

@media (min-width: 700px) {
    .input-wrapper + .input-wrapper {
        margin-top: 0;
    }
}